/* flexible images */
#custom-homepage-regions img {
    border-radius: 10px;
    width: 100%;
    height:auto;
}
.editing #custom-homepage-regions .lightbox img,
.editing #custom-homepage-regions .commands img {
    width: auto;
}

/* Reset margins, borders, padding etc.. */
#custom-homepage-regions .block,
#custom-homepage-regions .block .content,
#custom-homepage-regions .block .content .no-overflow,
#custom-homepage-regions .block > .header,
#custom-homepage-regions div.header h1,
#custom-homepage-regions div.header h2,
#custom-homepage-regions div.header h3,
#custom-homepage-regions div.header h4,
#custom-homepage-regions div.header h5,
#custom-homepage-regions div.header h6 {
    padding:0;
    margin:0;
    border:none;
    background-color:transparent;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* HEADINGS & TEXT */
#custom-homepage-regions div.header h2,
#custom-homepage-regions div.content h2
{
    /*margin-left:12px;
    font-size:24px; // Change to em's when theme is done. 1.846em = 24px with a base of 13px ;
    color:#0a0a0a;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight:normal;*/
}

#custom-homepage-regions div.content p {
    margin: 0 0 1% 0;
}
/* END HEADINGS & TEXT */

/* column */
#custom-homepage-regions .column {
    float:left;
    /*min-height:50px;*/
    position: relative;
}

/* container margins */
#custom-homepage-regions #region-hero-unit, #custom-homepage-regions #region-two-cols-wrap, #custom-homepage-regions #region-three-cols-wrap, #custom-homepage-regions #region-four-cols-wrap {
    padding: 0;
    margin: 0 0 1% 0;
}
/* edit mode tools start */
#custom-homepage-regions .block .header .title .commands {
    position: absolute;
    right: 0;
    width: 230px;
    z-index: 2;
}
#custom-homepage-regions .block .header .block_action {
    padding: 0;
}
/* edit mode tools end */

/**********************************************
Hero Column
***********************************************/
#custom-homepage-regions #region-hero-unit {
    position: relative;
}
#custom-homepage-regions #region-hero-unit .hero-heading {
    font-size: 1.4em;
    background-color: #FFF;
    color: #000;
    margin: 0;
    padding: 10px;
    font-weight: 100;
}
#custom-homepage-regions #region-hero-unit .block .header {
    position:absolute;
    right:0;
}
#custom-homepage-regions #region-hero-unit img {
    border-radius: 0;
}

/**********************************************
Two Columns
***********************************************/
#custom-homepage-regions #region-two-cols-wrap {}
/* general column */
#custom-homepage-regions #region-two-cols-wrap .column{
    width:49.5%;
}
#custom-homepage-regions #region-two-cols-wrap .column .column-image {
    position: relative;
}
#custom-homepage-regions #region-two-cols-wrap .column .column-image img {
    vertical-align: top;
}
#custom-homepage-regions #region-two-cols-wrap .column .column-image .course-button{
    display:block;
    position:absolute;
    bottom:0;
    right:0;
    padding:8px 10px;
    text-align:center;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    /*font-size:12px;*/
    background-color: #4a7d9f;
}
/* left */
#custom-homepage-regions #region-two-cols-wrap>.column{
    clear:left;
}
/* right */
#custom-homepage-regions #region-two-cols-wrap>.column+.column{
    float:right;
    clear:right;
}

/**********************************************
Three Columns
***********************************************/
#custom-homepage-regions #region-three-cols-wrap{}
/* three cols header*/
#custom-homepage-regions #region-three-cols-wrap>.three-cols-header {
    width: auto;
    clear:both;
    position:relative;
}
#custom-homepage-regions #region-three-cols-wrap>.three-cols-header h2 {
    margin:0px 12px 15px;
    display:inline-block;
    background:url([[pix:theme|youtubeicon]]) no-repeat 100% 0 transparent;
    line-height: 32px; /* height of background icon */
    padding-right: 42px;
}
/* general column */
#custom-homepage-regions #region-three-cols-wrap .column {
    width: 32.5%; /* check in ie */
}
/* left */
#custom-homepage-regions #region-three-cols-wrap>.three-cols-header+.column{}
/* middle */
#custom-homepage-regions #region-three-cols-wrap>.three-cols-header+.column+.column{
    margin: 0 1.25%;
}
/* right */
#custom-homepage-regions #region-three-cols-wrap>.three-cols-header+.column+.column+.column{
    float: right;
}

/**********************************************
Four Columns
***********************************************/
#custom-homepage-regions #region-four-cols-wrap{}
/* four cols header*/
#custom-homepage-regions #region-four-cols-wrap>.four-cols-header {
    width: auto;
    clear:both;
    position:relative;
}
/* general column */
#custom-homepage-regions #region-four-cols-wrap .column {
    width: 23.7%; /* check in ie */
}
/* left1 */
#custom-homepage-regions #region-four-cols-wrap>.four-cols-header+.column{
    margin:0 0.85% 0 0;
}
/* left2 */
#custom-homepage-regions #region-four-cols-wrap>.four-cols-header+.column+.column{
    margin:0 0.85%;
}
/* right1 */
#custom-homepage-regions #region-four-cols-wrap>.four-cols-header+.column+.column+.column{
    margin:0 0.85%;
}
/* right2 */
#custom-homepage-regions #region-four-cols-wrap>.four-cols-header+.column+.column+.column+.column{
    float: right;
}

/**********************************************
Others
***********************************************/
/* Buttons */
#custom-homepage-regions .column .content a {
    text-align: center;
    border-radius: 0;
    padding: 0;
    display: block;
}

/* My Courses */
#custom-homepage-regions .column .mycourses .content a, #custom-homepage-regions .column .content a.mycourses {
    background: #413d3c;
}
#custom-homepage-regions .column .mycourses .content a:hover, #custom-homepage-regions .column .content a.mycourses:hover {
    background: #585452;
}
/* Find Course */
#custom-homepage-regions .column .findcourse .content a, #custom-homepage-regions .column .content a.findcourses {
    background: #f26223;
}
#custom-homepage-regions .column .findcourse .content a:hover, #custom-homepage-regions .column .content a.findcourses:hover {
    background: #f97339;
}

/**********************************************
Video
***********************************************/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}