/************************************
Login page
************************************/
#page-login-index #page-content {
    background: none;
}

/*Login Box - single column*/
.loginbox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 500px;
    border: 1px solid #ccc;
    margin: 2% auto;
    padding: 1.5%;
    background: #fff;
}
.loginbox h2, .loginbox .subcontent {
    padding: 0;
    margin: 0;
}
.loginbox .loginform .form-label {
    width: 38%;
    padding: 0.2em;
}
.loginbox .loginform .form-input {
    width: 59%;
}
.loginbox .loginform .form-input input {
    width: 10em;
}
.loginbox .clearer {
    padding: 0.2em;
}
.forgetpass {
    font-size: 0.9em;
}
.notifysuccess, .notifyproblem, .notifymessage, .notifynotice, .notice, .loginerrors, .errorbox {
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    padding: 10px !important;
    margin: 0;
    text-align: center !important;
}
.loginbox .potentialidps {
    display: table;
    width: 100%;
    border-top: 1px solid #ccc;
}
.loginbox .potentialidps .potentialidplist, .loginbox .potentialidps .potentialidplist div.loginbox .potentialidps .potentialidplist, .loginbox .potentialidps .potentialidplist div {
    margin: 0 auto;
    text-align: center;
}

/*Login Box - two columns*/
.loginbox.twocolumns {
    margin: 2% auto;
    max-width: 800px;
}
.loginbox.twocolumns h2 {
    border-bottom: 3px solid #ccc;
    margin-bottom: 0.8em;
    padding-bottom: 0.2em;
}
.loginbox.twocolumns h2, .loginbox.twocolumns .subcontent, .loginbox.twocolumns .loginform .form-label, .loginbox.twocolumns .signupform {
    text-align: left;
}
.loginbox.twocolumns .loginpanel {
    margin-right: 2%;
}
.loginbox.twocolumns .loginform .form-label {
    width: 70px;
}
.loginbox.twocolumns .loginform .form-input {
    width: auto;
    float: none;
 }
 .loginbox.twocolumns .loginform .form-input input {
    max-width: 600px;
}
.loginbox.twocolumns .signuppanel .subcontent ol {
    margin-left: 1.4em;
    margin-top: 0.5em;
}

/************************************
Forgotten Password page 
************************************/
#page-login-forgot_password .boxwidthnormal {
    width: 100%;
    padding: 20px 0;
}