/*************************************************
GENERAL MENU
*************************************************/
.logininfo {
    padding-left: 0;
}
.navbar-fixed-top, 
.navbar-fixed-bottom{
    position: relative;
    z-index: auto;
}
.navbar-fixed-top, 
.navbar-fixed-bottom, 
.navbar-static-top {
    margin: 0;
}
.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
    /*border-bottom: 1px solid [[setting:backgroundcolor]];*/
    border: none;
}
.navbar-fixed-top .navbar-inner, 
.navbar-fixed-bottom .navbar-inner {
    padding: 0;
}
.navbar-inner {
    min-height: 1em;
}
.navbar .brand {
    display: none !important;
}
.navbar-text {
    color: #000;
    font-size: 0.9em;
    line-height: 1.1em;
    padding: 10px 0;
}
.loginfailures {
    font-size: 0.9em;
}
.navbar .nav > li > a {
    padding: 5px;
}
.navbar .nav.pull-right {
    margin-right: 10px;
}
.navbar .btn-navbar {
    padding: 6px;
    margin: 5px;
}
.nav-collapse .nav {
    margin: 0;
    padding: 0;
}
.nav-collapse .dropdown-menu li + li a {
    margin: 0;
}
.dropdown-menu {border-radius: 0;}
.user-picture {float: right !important;}
.user-picture > a {padding-right: 0 !important;}
.user-picture img {border: 1px solid #ddd;}

div#custommenu ul li ul, div#totaramenu ul li ul {
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}
/*************************************************
CUSTOM MENU
*************************************************/
div#custommenu, div#totaramenu  {
    clear:both;
    width:100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index:auto;
}
div#custommenu a, div#totaramenu a {
    text-decoration: none;
}
div#custommenu ul, div#totaramenu ul {
    padding:0;
    margin:0;
}
div#custommenu ul li, div#totaramenu ul li {
    float:left;
    font-weight:bold;
    margin:0;
    list-style-type:none;
    text-transform: none;
}
.dir-rtl div#custommenu ul li, .dir-rtl div#totaramenu ul li {
    float: right;
    margin: 0 0 0 1px;
}
div#custommenu > ul > li.first > a, div#totaramenu > ul > li.first > a {
    border-radius: 0;
}
div#custommenu > ul > li.last > a, div#totaramenu > ul > li.last > a {
    border-radius: 0;
}
div#custommenu ul ul, div#totaramenu ul ul {
    width:auto;
    min-width:200px;
    position:absolute;
    z-index:100;
    margin: 0 0 0 1px;
}
div#custommenu ul ul li, div#totaramenu ul ul li {
    float:none !important;
    margin:0;
}
div#custommenu ul ul li a, div#totaramenu ul ul li a {
    padding:5px 15px;
    display: block;
}
div#custommenu ul li:hover ul, div#totaramenu ul li:hover ul {
    display:block;
}

/* styling of menu states */

/* primary nav - not selected */
div#custommenu ul li a, div#totaramenu ul li a {
    /*color: [[setting:linkcolor]];*/
    display: block;
    padding: 0.5em 1em;
    font-size: 0.9em;
    color: #333;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0;
    background: none;
}
/* primary nav - not selected - hover */
div#custommenu ul li a:hover, div#totaramenu ul li a:hover {
    background: #ddd;
    text-decoration: none;
}
/* primary nav - selected */
div#custommenu ul li.selected a, div#totaramenu ul li.selected a {
    background: [[setting:buttoncolor]];
    color: #fff;
    border-radius: 0;
    border: none;
}
/* primary nav - selected - hover */
div#custommenu ul li.selected a:hover, div#totaramenu ul li.selected a:hover {
    /* no change */
}

div#custommenu ul li ul, div#totaramenu ul li ul {
    border-top: 1px solid #DDD;
}
/* fix for IE < 9 */
.ie6 div#custommenu ul li ul,
.ie7 div#custommenu ul li ul,
.ie8 div#custommenu ul li ul,
.ie6 div#totaramenu ul li ul,
.ie7 div#totaramenu ul li ul,
.ie8 div#totaramenu ul li ul {
    border: 1px solid #DDDDDD;
}
/* secondary nav - not selected child of unselected parent */
div#custommenu ul li li a, div#totaramenu ul li li a {
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #DDD;
    /*color: [[setting:linkcolor]];*/
    color: #333;
    background: #FFF;
}
/* secondary nav - not selected child of unselected parent - hover */
div#custommenu ul li li a:hover, div#totaramenu ul li li a:hover {
    color: #222;
    background: #ddd;
}
/* secondary nav - not selected child of selected parent */
div#custommenu ul li.selected li a, div#totaramenu ul li.selected li a {
    border: none;
    border-bottom: 1px solid #DDD;
}
/* secondary nav - not selected child of selected parent - hover */
div#custommenu ul li.selected li a:hover, div#totaramenu ul li.selected li a:hover {
    color: #333;
    background: #F9F9F9;
}
/* secondary nav - selected child of selected parent */
div#custommenu ul li.selected li.selected a, div#totaramenu ul li.selected li.selected a {
    color: #333;
    background: #FFF;
    cursor: default;
}
/* secondary nav - selected child of selected parent - hover */
div#custommenu ul li.selected li.selected a:hover, div#totaramenu ul li.selected li.selected a:hover {
    /* no change */
}
/* third nav */
div#custommenu ul li li li a, div#totaramenu ul li li li a {
    font-size: 13px;
}

@media screen and (max-width:979px) {
    div#custommenu ul,
    div#custommenu ul li,
    div#custommenu ul li a,
    div#custommenu ul ul,
    div#custommenu ul ul li a,
    div#totaramenu ul,
    div#totaramenu ul li,
    div#totaramenu ul li a,
    div#totaramenu ul ul,
    div#totaramenu ul ul li a{
        border: none;
    }
    div#custommenu ul, div#totaramenu ul {
        border-bottom: 1px solid #ddd;
    }
    div#custommenu ul li, div#totaramenu ul li {
        float: none;
        border-bottom: 1px solid #ddd;
    }
    div#totaramenu ul li ul, div#custommenu ul li ul {
        box-shadow: none;
    }
    div#custommenu ul ul, div#totaramenu ul ul {
        display: block;
        position: static;
        margin: 0;
    }
    div#custommenu ul ul li a, div#totaramenu ul ul li a {
        padding: 0.5em 2em;
    }
    /* Menu */
    div#custommenu ul li li li:last-child, div#totaramenu ul li li li:last-child {
        border-bottom: none;
    }
    div#custommenu ul ul li li a, div#totaramenu ul ul li li a {
        padding-left: 3em;
        font-weight: 100 !important;
    }
    .dropdown-menu a {
        font-weight: 100 !important;
    }
    .navbar .nav.pull-right {
        padding: 3px 0;
        margin-right: 0;
        display: table;
        width: 100%;
        float: left;
    }
    .nav-collapse .nav > li {
        float: left;
    }
    .logininfo {
        padding-left: 15px;
    }
}

/*************************************************
TABS
*************************************************/
.nav-tabs {
    border-bottom: 1px solid #ccc;
}
.nav-tabs > li {
    margin-top: 0.5em;
}
.nav-tabs > li > a {
    padding: 8px 12px;
    color: #fff;
    background: [[setting:buttoncolor]];
    text-decoration: none;
}
.nav-tabs > li > a:hover {
    border-radius: 4px 4px 0 0;
    border: 1px solid transparent;
    background: [[setting:buttoncolor]];
    background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover, 
.nav-tabs > .active > a:focus {
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(255,255,255,1) 59%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(59%,rgba(255,255,255,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 59%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 59%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 59%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 59%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ) !important; /* IE6-9 */
    text-decoration: underline;
}
.nav-tabs .active a, 
.nav-tabs .active a:hover {
    text-decoration: none;
    color: #333;
}
.nav > .disabled > a {
    background: #ddd;
}