/*************************************************
Generic Calendar catalogue entry
*************************************************/
.fc-day-header {
	background: #413d3c;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
?
.fc-event {
	border: none  !important;
	color: #fff  !important;
	font-weight: 600  !important;
	padding: 5px  !important;
	background: #faa634  !important;
}
?
.fc-event:hover {
	background-image: linear-gradient(hsla(0,0%,100%,.2), hsla(0,0%,100%,.1)) !important;
}
?
.fc-day-grid-event .fc-content {
	white-space: pre-line !important;
}
?
.fc-day {
	background: #f7f7f7;
}

/*************************************************
Sniffer
*************************************************/
.versionsniffer-warning {
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: -2%;
    max-width: 500px;
    box-sizing: border-box;
}
.versionsniffer-warningsign {
    background: url([[pix:theme|ic_warning]]) no-repeat top left;
    padding: 20px 35px 20px 20px;
    display: table-cell;
}
.versionsniffer-warningtext {
    display: table-cell;
    vertical-align: top;
}
.versionsniffer-warningtext,
.versionsniffer-warningtext ul {
    color: #c09853;
}