/** Message **/
.message-discussion-noframes h1 {
    font-size: 1em;
}
.message-discussion-noframes #userinfo .commands,
.message .noframesjslink,
.message .link {
    font-size: @fontSizeSmall;
}
.message .heading {
    font-size: 1em;
    font-weight: bold;
}
.message .author {
    font-weight: bold;
}
.message .time {
    font-style: italic;
}
#page-message-user .commands span {
    font-size: 0.7em;
}
#page-message-user .name {
    font-weight: bold;
    font-size: 1.1em;
}
.message .time {
    .muted;
}
#page-message-messages {
    padding: 10px;
}
#page-message-send .notifysuccess {
    padding: 1px;
}
#page-message-send td.fixeditor {
    text-align: center;
}
.message .note {
    padding: 10px;
}
table.message .searchresults td {
    padding: 5px;
}
.message .contactselector {
    @media screen and (min-width: 1000px) {
        width: 24%;
    }
    float: left;
}
.message .contactselector .contact {
    text-align: left;
}
.message .contactselector .messageselecteduser {
    font-weight: bold;
}
.message .contactselector .paging {
    z-index: 1;
    position: relative;
}
.message .messagearea  {
    @media screen and (min-width: 1000px) {
        width: 74%;
        border-left: 1px solid @tableBorder;
        padding-left: 1%;
    }
    @media screen and (max-width: 1000px) {
        width: 100%;
    }
    float: right;
    min-height: 200px;
}
.message .messagearea .messagehistorytype {
    clear: both;
    padding-bottom: 20px;
}
.message .messagearea .messagehistory .user {
    vertical-align: top;
    width: 45%;
    min-width: 100px;
    float: left;
}
.message .messagearea .messagehistory .user > div {
    text-align: center;
}
.message .messagearea .messagehistory .between {
    float: left;
    width: 16px;
    margin: 0 1%;
    padding-top: 40px;
}
@media screen and (min-width: 800px) {
    .message .messagearea .messagehistory .between {
        margin: 0 3%;
    }
    .message .messagearea .messagehistory .user {
        width: 32%
    }
    .message .messagearea .messagehistory .user:first-child {
        margin-left: 13%;
    }
    .message .messagearea .messagehistory .user:last-child {
        margin-right: 13%;
    }
    .dir-rtl .message .messagearea .messagehistory .user:first-child {
        margin-right: 13%;
        margin-left: 0%
    }
    .dir-rtl .message .messagearea .messagehistory .user:last-child {
        margin-left: 13%;
        margin-right: 0%;
    }
}
@media screen and (min-width: 1200px) {
    .message .messagearea .messagehistory .user {
        width: 25%
    }
    .message .messagearea .messagehistory .user:first-child {
        margin-left: 20%;
    }
    .message .messagearea .messagehistory .user:last-child {
        margin-right: 20%;
    }
    .dir-rtl .message .messagearea .messagehistory .user:first-child {
        margin-left: 0;
        margin-right: 20%;
    }
    .dir-rtl .message .messagearea .messagehistory .user:last-child {
        margin-right: 0%;
        margin-left: 20%;
    }
}
.dir-rtl .message .messagearea .messagehistory .between,
.dir-rtl .message .messagearea .messagehistory .user {
    float: right;
}
.message .messagearea .messagehistory .heading {
    width: 100%;
    clear: both;
}
.message .messagearea .messagehistory .left {
    padding-bottom: 10px;
    width: 50%;
    float: left;
    clear: both;
}
.dir-rtl .message .messagearea .messagehistory .left {
    float:right;
}
.message .messagearea .messagehistory .right {
    padding-bottom: 10px;
    width: 50%;
    float: right;
    clear: both;
}
.dir-rtl .message .messagearea .messagehistory .right {
    float:left;
}
.message .messagearea .messagehistory .notification {
    .well;
    .well-small;
    margin-bottom: 0;
    margin-top: 5px;
}
.message .messagearea .messagesend {
    padding-top: 20px;
    clear: both;
}
.message .messagearea .messagesend .messagesendbox {
    width: 100%;
}
.message .messagearea .messagesend fieldset {
    padding: 0;
    margin: 0;
}
// Bring the message send button closer to the message box.
.message .messagearea .messagerecent {
    text-align: left;
    width: 100%;
}
.message .messagearea .messagerecent .singlemessage {
    border-bottom: 1px solid @tableBorder;
    padding: 10px;
}
.message .messagearea .messagerecent .singlemessage .otheruser span {
    padding: 5px;
}
.message .messagearea .messagerecent .singlemessage .messagedate {
    float: right;
}
.message .hiddenelement  {
    display: none;
}
// not just using hidden as mform adds that class to its fieldset */
.message .visible {
    display: inline;
}
.message #usergroupselector.fieldset, .message #viewing {
    width: 100%;
}
.messagesearchresults {
    margin-bottom: 40px;
}
.messagesearchresults td {
    padding: 0 10px 0 20px;
}
.messagesearchresults td span {
    white-space: nowrap;
}
.messagesearchresults td img.userpicture {
    padding-right: .45em;
    vertical-align: text-bottom;
}
.dir-rtl .messagesearchresults td img.userpicture {
    padding-left: .45em;
    padding-right: 0;
}
.messagesearchresults td span img {
    padding: 0 0 0 .45em;
    vertical-align: text-bottom;
}
.dir-rtl .messagesearchresults td span img {
    padding: 0 .45em 0 0;
}
#newmessageoverlay {
    .well;
    margin: 0 1em;
    position: fixed;
    bottom: 0;
    right: 0;
}
#newmessageoverlay #usermessage {
    padding: 10px;
}
/* Widen the plain text editor on the bulk message screen */
#page-user-action_redir #edit-messagebody {
    width:auto;
}
