#jquery-loader{
	border:2px black solid;
	padding-top:35px;
	background-color: black;
	text-align: center;
}
#jquery-loader-background{background-color: grey}
#jquery-loader.blue-with-image-2{
	/*border:none;
	padding-top:35px;
	background-color: black;
	text-align: center;
	background-image: url(../pix/ajax-loader.gif);
	background-position: center center;
	background-repeat: no-repeat;*/
        
        background: url("../pix/ajax-loader.gif") no-repeat scroll 50% 50% #000000;
        border-radius: 5px 5px 5px 5px;
        cursor: pointer;
        height: 5px!important;
        left: 50%;
        margin: -20px 0 0 -20px;
        opacity: 0.8;
        overflow: hidden;
        position: absolute;
        top: 50%;
        width: 50px!important;
        z-index: 1000;
        
        

}
