.catalogue-entry h3
{
	border-bottom: 1px solid #e5e5e5;
}
.catalogue-links
{
	margin: 15px 0px;
}
.catalogue-button-link 
{
	margin-right: 15px;
}
.catalogue-caption-links
{
	display: inline-block;
	margin-left: 30px;
    font-weight: normal;
    font-size: 13px;
}
a.fc-event,
a.fc-event:visited,
a.fc-event:hover,
a.fc-event:active
{
	color: white;
}
.fc-day-header {
	background: #413d3c;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fc-event {
	border: none !important;
	color: #fff;
	font-weight: 600;
	padding: 5px !important;
	background-color: #aaa !important;
}

.fc-event:hover {
	background-image: linear-gradient(hsla(0,0%,100%,.2), hsla(0,0%,100%,.1));
}

.fc-day-grid-event .fc-content {
	white-space: pre-line;
	overflow: auto;
}

.fc-day {
	background-color: #f7f7f7;
}