.container-fluid {
    max-width: 1280px;
    padding: 0 1em;
}

/*******************
General
*******************/
body {
    background: #fff;
    color: #333;
    margin-bottom: 4em;
}
a, a:link, a:visited {
    color: #022c54;
}
h1, h2, h3, h4, h5, h6 {
    color: #006b6e;
}
#page-navbar .breadcrumb-button {
    margin-right: 0;
}
div, span, button, input {
    border-radius: 0 !important;
}
#page-content {
    background: none;
}
#page {
    padding-top: 0;
}
#block-region-side-pre {
    padding-left: 0;
}
#block-region-side-post {
    padding-right: 0;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
    background: #a2ab58;
}
/*normal*/
button, input.submit, input[type="submit"], input[type="reset"], input[type="button"], #id_buttonfield, a.link-as-button, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], .btn-primary, #page-mod-scorm-player .breadcrumb-button a {
    background: #333;
    border-radius: 5px !important;
    color: #fff;
    transition: all 0.4s ease 0s;
}
/*hover*/
button:hover, input.submit:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, #id_buttonfield:hover, a.link-as-button:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, .btn-primary:hover,
/*focus*/
button:focus, input.submit:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus, #id_buttonfield:focus, a.link-as-button:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, .btn-primary:focus {
    background: #e6f1ef;
    color: #006b6e;
    box-shadow: none;
    transition: all 0.4s ease 0s;
}
.nav-tabs > li > a  {
    background: #e51837;
    color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #dc6116;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}
.mform fieldset.collapsible legend a.fheader {
    color: inherit;
}
.breadcrumb {
    background: none;
}
.breadcrumb-nav .breadcrumb {
    color: #666;
    padding: 7px 0;
}
.breadcrumb li:first-child {
    background: none;
    padding-left: 0;
}
.breadcrumb li a, .breadcrumb li span {
    padding: 0 0.5em;
}
.breadcrumb li:first-child {
    margin-left: -0.5em;
}

/********************************
Navigations Top Menu
********************************/
.navbar-inner {
    background: #006b6e url([[pix:theme|bg_topmenu]]) repeat-x top center;
    border: none;
}
.navbar .nav.pull-right {
    margin-top: 6px;
}
.navbar-text {
    color: #fff;
}
div#custommenu ul li a, div#totaramenu ul li a {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    padding: 1em;
}
div#custommenu ul li a:hover, div#totaramenu ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}
div#custommenu ul li.selected a, div#totaramenu ul li.selected a {
    color: #cc3232;
}

/********************************
Header
********************************/
th.header, td.header, div.header, .navbar {
    background: #fff;
    /*border-bottom: 3px solid #cc3232;*/
}
#page-header-wrapper {
    padding: 5px 10px;
    box-sizing: border-box;
}
#page-header {
    background: none;
}

.nav > li > a > img {
    border-radius: 50%;
}
.logininfo a {
    font-weight: bold;
    color: #fff;
}
.logininfo a:hover {
    text-decoration: underline;
}
.user-picture img {
    /*border-radius: 50%;
    background-clip: padding-box;*/
}
.logo, .logounit {
    padding: 20px 0;
}
header h1 {
    float: right;
    color: #c95109;
    position: relative;
    font-size: 200%;
    padding: 0;
    line-height: 1em;
}

/********************************
Layouts
********************************/
#region-main {
    margin: 10px 0;
}

/********************************
Blocks
********************************/
.block {
    background: #efefef;
    margin-bottom: 5%;
    border: none;
    box-shadow: none !important;
}
.block .header, .block-region .hidden .header {
    background: #aaa;
}
.block .header .title h2, .block h3.main {
    color: #fff;
    font-size: 110%;
    padding: 10px;
}
.block .header .block_action > * {
    padding: 4px 1px;
}
.block .content, .block {
    background: #f1f2f2;
}
.block .content {
    padding: 1em;
}
.block_settings hr {
    display: none;
}
.block .header .title .commands, .block_adminblock .content, .block .footer {
    background: rgba(255, 255, 255, 0.8);
}
/* Block - Navigation */
.block_navigation .header, .block_navigation.block.hidden .header {
    background: #022c54;
}
/* Block - Settings */
.block_settings .header, .block_settings.block.hidden .header {
    background: #006b6e;
}

.block_settings .footer input#adminsearchquery {
    max-width: 58%;
}
.row-fluid .span3 .block_settings .footer input#adminsearchquery,
.row-fluid .span4 .block_settings .footer input#adminsearchquery {
    max-width: 46%;
}
.block_course_list.block .content a, .block_navigation.block .content a, .block_settings.block .content a, .block_course_list.block .content p, .block_navigation.block .content p, .block_settings.block .content p {
    color: #000;
}

/* Forum */
.forumpost {
    background: #fff;
}
.forumpost .content .posting {
    overflow: hidden;
}

/* Courses View */
.coursebox, .coursebox:hover {
    background: #fff !important;
}

/* Calendar */
.block .minicalendar td.today .eventcontent a {
    color: #14315C;
}
.path-calendar .maincalendar,
.path-calendar .maincalendar div.header {
    background: #fff;
}

/********************************
Topics Format
********************************/
.topics .current {
    border: 2px solid #59595b !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.course-content ul li.section.main {
    background: #efefef;
}

/********************************
Tiles Format
********************************/
.tileoutlinearea .tileoutlinecontent {
    padding: 10px 20px 20px 20px;
    width: 60%;
    margin: 1%;
    background: rgba(0, 107, 110, 0.8);
}
.tileoutlinearea h3.sectionname {
    line-height: inherit;
}
.tileoutlinearea, .tileoutlinearea ul, .tileoutlinearea p, .tileoutlinearea h1, .tileoutlinearea h2, .tileoutlinearea h3 {
    color: #000;
}
.tileoutlinearea, .tileoutlinearea ul, .tileoutlinearea p, .tileoutlinearea h1, .tileoutlinearea h2, .tileoutlinearea h3 {
    color: #fff;
}
.tileoutlinetiles .currentsection a, .tileoutlinepage .current {
    border: 3px solid #59595b;
}
.tileoutlinetiles .tile a {
    color: #fff;
    min-height: 180px;
}
.tileoutlinetiles .tiletitle {
    background: url([[pix:theme|bg_arrow]]) no-repeat;
    background-position: right top 12px;
    background-color: rgba(2,44,84,0.8);
    transition: .5s;
}
.tileoutlinetiles .tile a:hover .tiletitle {
    background: url([[pix:theme|bg_arrow]]) no-repeat;
    background-color: rgba(2,44,84,0.9);
    background-position: right bottom 12px;
    text-decoration: none;
}

/* Topics view */
#page-course-view-tiles #region-main {
    padding: 5px;
}
.tilecontentarea {
    background: none;
}
.tiletopicnav ul li a {
    color: #000;
    border: 1px solid #000;
    background: #fff;
}
.tiletopicnav ul li a:hover, .tiletopicnav ul li a:active {
    background-color: #81b43b; 
    color: #fff;
    border: 1px solid #81b43b;
}
.tiletopicnav ul li a.current {
    background: #e51837;
    border: 1px solid #e51837;
}
.tiletopicnav .currentsection, .tiletopicnav .currentsection:hover {
    border: 3px solid #59595b;
}

/********************************
Totara
********************************/
#page-totara-coursecatalog-courses #region-main .mform:not(.unresponsive) .fitem .fitemtitle, #page-totara-coursecatalog-courses #region-main .mform:not(.unresponsive) .fitem .felement {
    clear: both;
}

/********************************
Docking
********************************/
body.has_dock div#dock {
    background: #fff;
    border-right: 1px solid #ddd;
}
#dock .dockedtitle {
    width: 45px;
    margin: 0 0 1px 0;
}
#dock .dockedtitle, #dock .dockedtitle:hover, #dock .dockedtitle:focus {
    background: #59595b !important;
    border: none !important;
}
#dock .dockedtitle h2 {

}
#dockeditempanel .dockeditempanel_hd {
    background: #ddd;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
    font-size: 0.9em;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}

/********************************
Footer
********************************/
#page-footer {
    background: #58595b;
    border: none;
    padding: 1.5em 0;
}
#page-footer, #page-footer p {
    color: #fff;
}
#page-footer a {
    color: #fff;
    font-weight: bold;
}
#page-footer .footer-text {
    float: left;
}
#page-footer .footnote.text-left {
    display: inline;
}
#page-footer .helplink {
    float: right;
    clear: both;
}

/********************************
My Page
********************************/
#page-my-index #custom-homepage-regions {
    display: none;
}


/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]