#region-full-1col  {
    z-index: 0;
    position: relative;
}
#region-full-1col .block {
    margin-bottom: 0;
}
#region-full-1col .block .content, #region-full-1col .block.block_html .content .no-overflow {
    padding: 0;
}
#custom-homepage-regions img {
    border-radius: 0;
}
#custom-homepage-regions .column .content a {
    padding: 6% 28%;
    background: url([[pix:theme|bg_btn-homepage]]) top center repeat-x;
    border-radius: 6px;
}
#custom-homepage-regions .column .content a:hover {
    text-decoration: none;
}
#custom-homepage-regions .column .content h1 {
    margin: 0.2em 0;
}
#custom-homepage-regions .column .content h1:hover {
    color: #23527c;
}
#custom-homepage-regions #region-hero-unit, #custom-homepage-regions #region-two-cols-wrap, #custom-homepage-regions #region-three-cols-wrap, #custom-homepage-regions #region-two-cols-wrap {
    margin-bottom: 1.5% !important;
}
#custom-homepage-regions #region-hero-unit .hero-heading {
    text-align: center;
    background: none;
    font-size: 1.6em;
    padding: 0;
}
#custom-homepage-regions #region-three-cols-wrap {
    display: none;
}
#page-site-index #page {
    margin-top: -70px;
    z-index: auto;
    position: relative;
    background: url([[pix:theme|bg_homepage]]) top center repeat-x;
    border-radius: 8px 8px 0 0 !important;
    padding: 1em;
}
#page-site-index #region-main {
    padding: 0;
}
#page-site-index #page-navbar-wrapper {
    display: none;
}

/* Buttons */
.homepagebtn {
    position: relative;
}
.btn-homepage {
    width: 100%; 
    color: #000; 
    position: relative; 
    display: block;
    left: 0; 
    bottom: 0;
    padding: 0.5em;
    box-sizing: border-box;
    background: url([[pix:theme|bg_arrow]]) no-repeat;
    background-position: right top 7px;
    text-align: center;
    font-size: 160%;
    transition: .5s;
}
.btn-homepage:hover {
    background-position: right bottom 7px;
    color: #022c54;
}
#custom-homepage-regions .column .content .mylearning a {
    background: #81b43b;
}
#custom-homepage-regions .column .content .mylearning a:hover {
    background: #88bf3c;
}
#custom-homepage-regions .column .content .findlearning a {
    background: #2b5891;
}
#custom-homepage-regions .column .content .findlearning a:hover {
    background: #3264a2;
}
#course_progress th.header > a {
    color: #000 !important;
}

/******************************
SLIDER
******************************/
.flickerplate {
    
}
.flickerplate .dot-navigation {
    bottom: 75px;
}
.flickerplate .arrow-navigation::before {
    font-size: 5rem;
}
.slide-title, .anim-title, .front-face, .back-face {
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6) !important;
    /*background: rgba(0, 107, 110, 0.8);*/
}
.anim-title {
    color: #
}
.front-face {
    color: #fff;
}
.back-face {
    color: #e6f1ef;
}
.flickerplate ul.flicks > li .slide-title {
    font-size: 3.75rem;
}
.flickerplate ul.flicks > li .slide-sub-text {
    font-size: 2rem;
}

