.ie8 .loginbox .loginform .form-input input {
    max-width: 330px;
}
.navbar-inner{
    filter: none;
}
#page-footer {
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}
