/*************************************************
Login page
*************************************************/
#page-login-index #page {
    margin: 5% auto !important;
}
#page-login-index #page-content {
    background: transparent;
}
#page-login-index #region-main {
    box-shadow: none;
    padding: 0;
    background: none;
}
#page-login-index input[type="text"], #page-login-index input[type="password"] {
    border-color: #fff;
    width: 100%;
    max-width: inherit;
    color: #fff;
}
#page-login-index input[type="text"]:focus, #page-login-index input[type="password"]:focus {
    background: #94c1c2;
    transition: all 0.4s ease 0s;
}
#page-login-index input[type="text"] {
    background: url([[pix:theme|bg_ic-username]]) right no-repeat;
}
#page-login-index input[type="password"] {
    background: url([[pix:theme|bg_ic-password]]) right no-repeat;
}
body#page-login-index {
    background: #fff url([[pix:theme|bg_login]]) no-repeat center top;
    background-size: cover;
}
#page-login-index .navbar-inner, #page-login-index #page-navbar-wrapper {
    display: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #94c1c2 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #94c1c2 !important;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #94c1c2 !important;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #94c1c2 !important;
}

.loginbox {
    max-width: 400px;
    width: 100%;
    padding: 2%;
    float: right;
    border-radius: 7px !important;
    -webkit-border-radius: 7px !important; 
    -moz-border-radius: 7px !important; 
    margin: 5%;
    border: none;
    background: rgba(0, 107, 110, 0.7);
}
.loginbox h2 {
    font-size: 3em;
    font-weight: bold !important;
}
.loginbox .loginform .form-input { 
    width: auto;
    float: none;
}
.loginbox .loginform .form-input p { 
    margin-bottom: 0;
}
.loginbox .loginform .form-input input {
    padding: 0.7em 1em;
    width: 100%;
    border: 1px solid #bcbec0;
}
.login-register {
	display: table;
}
.login-submit, .signupform {
	display: table-cell;
}
.loginbox .loginpanel .desc {
    display: none;
}
.loginbox .login-register input {
    font-size: 1em;
    padding: 0.5em 63px;
}
::-webkit-input-placeholder {color: #6c6f6f;}
:-moz-placeholder {color: #6c6f6f;} /* Firefox 18- */
::-moz-placeholder {color: #6c6f6f;} /* Firefox 19+ */
:-ms-input-placeholder {color: #6c6f6f;}

.rememberpass, .forgetpass, .loginbox h2, .loginbox .subcontent, .loginbox a {
    color: #fff;
}
/*hide form label*/
.loginbox .loginform .form-label {
    display: none;
}
.rememberpass, .forgetpass, .loginbox h2, .loginbox .subcontent {
    text-align: left;
}


/* 2nd column */
.loginbox.twocolumns {
    max-width: 400px;
    margin: 5%;
}
.loginbox.twocolumns h2 {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.loginbox.twocolumns .loginpanel, .loginbox.twocolumns .signuppanel {
    width: 100%;
}
.loginbox.twocolumns .signuppanel  {
    display: none;
}

@media (max-width: 767px) {
    #page-login-index #page-footer {
        position: absolute;
    }
}