/********************************
Print
********************************/
@media print {
    a {
        color: #037691 !important;
    }
    button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
        background: none !important;
        border: 3px solid #c95109 !important;
    }
    .tileoutlinecontent,
    .tiletitle {
        background: none !important;
    }
    .tileoutlinearea {
        background-size: cover !important;
    }
}