@media (max-width: 767px) {
    /* header */
    .logo, .logounit {
        display: block;
        text-align: center;
    }
    .logo {
        padding: 10px 0 0 0;
    }
    .logounit {
        padding: 0 0 15px 0;
    }
    /* login page */
    #page-login-index .loginbox {
        max-width: 100%;
        margin: 2% auto;
        padding: 6%;
    }
    .loginbox .login-register input {
        padding: 0.5em 1em;
    }
    
    /* homepage */
    .flickerplate {
        height: 300px;
    }
    .flickerplate ul.flicks > li .slide-title {
        font-size: 1.75rem;
    }
}
@media (max-width: 979px) {
    .container-fluid {
        padding: 0;
    }
    div#custommenu ul li a, div#totaramenu ul li a {
        padding: 0.5em 1em;
    }
}