<!-- No config needed -->
<?php
    // set to defaults if undefined
    if (!isset($config->recaptcha)) {
        $config->recaptcha = false;
    }

    $yesno = array( get_string('no'), get_string('yes') );
?>

<table cellspacing="0" cellpadding="5" border="0">
<tr>
   <td colspan="3">
        <h2 class="main"><?php print_string('settings', 'auth_andro_registration') ?> </h2>
   </td>
</tr>
    <td align="right" valign="top"><label for="emailoption"><?php print_string('whoreceivesemails', 'auth_andro_registration') ?></label></td>
    <td valign="top"><?php
        $emailselector = array(
            'alladmins' => get_string('alladmins', 'auth_andro_registration'),
            'firstadmin' => get_string('firstadmin', 'auth_andro_registration'),
            'usecapability' => get_string('usecapability', 'auth_andro_registration'),
            'user' => get_string('user', 'auth_andro_registration'),
        );
        if (!isset($config->emailoption)) {
            $config->emailoption = 'alladmins';
        }
        echo html_writer::select($emailselector, 'emailoption', $config->emailoption, false);
        ?></td>
    <td valign="top"><?php print_string('whoreceivesemails_help', 'auth_andro_registration') ?></td>
</tr>
<tr>
    <td align="right"><label for="menurecaptcha"><?php print_string('recaptcha_key', 'auth_andro_registration') ?></label></td>
    <td><?php
        echo html_writer::select($yesno, 'recaptcha', $config->recaptcha, false);
        ?></td>
    <td><?php print_string('recaptcha', 'auth_andro_registration') ?></td>
</tr>
<tr>
<?php

print_auth_lock_options($this->authtype, $user_fields, get_string('auth_fieldlocks_help', 'auth'), false, false);

?>
</table>