.container-fluid {
    max-width: 1280px;
}

/*******************
General
*******************/
* {
    font-family: "Arial",helvetica,sans-serif !important;
}
body {
    background: #faf8f4;
    color: #3b3b3b;
}
a, a:link, a:visited {
    color: #037691;
}
a:hover, a:focus {
    color: #23527c;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif !important;
    line-height: 1em;
}
#page-navbar .breadcrumb-button {
    margin-right: 0;
}
div, span, button, input {
    border-radius: 0 !important;
}
#page-content {
    background: none;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
}
/********************************
Buttons, Tabs, Navs
********************************/
/*normal*/
button, input.submit, input[type="submit"], input[type="reset"], input[type="button"], #id_buttonfield, a.link-as-button, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], .btn-primary {
    font-family: 'Roboto Slab', serif !important;
    background: none;
    border: 3px solid #c95109;
    color: #c95109;
}
/*hover*/
button:hover, input.submit:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, #id_buttonfield:hover, a.link-as-button:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, .btn-primary:hover,
/*focus*/
button:focus, input.submit:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus, #id_buttonfield:focus, a.link-as-button:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, .btn-primary:focus {
    background: #c95109;
    color: #fff;
    box-shadow: none;
}
.nav-tabs > li > a  {
    background: #a16585;
    color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #b47999;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}
.mform fieldset.collapsible legend a.fheader {
    color: inherit;
}
.breadcrumb-nav .breadcrumb {
    padding: 7px;
}
.breadcrumb-nav li {
    font-size: 85%;
}

/********************************
Navigations Top Menu
********************************/
.navbar-inner, .navbar-fixed-top .navbar-inner .container-fluid {
    background: #c95109;
    filter: none;
}
div#custommenu ul li a, div#totaramenu ul li a {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    font-family: 'Roboto Slab', serif !important;
}
div#custommenu ul li a:hover, div#totaramenu ul li a:hover {
    background: #fff;
}
div#custommenu ul li.selected a, div#totaramenu ul li.selected a {
    color: #087787;
}
.navbar .nav > li > a {
    padding: 6px;
}
/********************************
Header
********************************/
#page-header-wrapper {
    padding: 5px;
    box-sizing: border-box;
}
#page-header {
    /*background: #fff url([[pix:theme|bg_header]]) no-repeat center right;
    background-size: 30%;*/
    background: #fff;
}
#page-navbar-wrapper {
    background: #faf8f4;
}
.navbar-text {
    color: #eabb9f;
}
.logininfo a {
    color: #fff;
}
.logininfo a:hover {
    text-decoration: underline;
}
.user-picture img {
    /*border-radius: 50%;
    background-clip: padding-box;*/
}
.logo, .logounit {
    padding: 15px;
}
header h1 {
    float: right;
    color: #c95109;
    position: relative;
    font-size: 200%;
    padding: 0;
    line-height: 1em;
}

/********************************
Layouts
********************************/
#region-main {
    margin: 10px 0;
    background: #fff;
}

/********************************
Blocks
********************************/
.block {
    box-shadow: none;
    border: none;
    background: #efefef;
    margin-bottom: 15px;
}
.block .header, .block-region .hidden .header {
    background: #59595B;
}
.block .header .title h2, .block h3.main {
    color: #fff;
    font-size: 110%;
}
.block .content {
    background: #fff;
}
.block_settings hr {
    display: none;
}
.block .header .title .commands, 
.block_adminblock .content, 
.block .footer {
    background: rgba(255, 255, 255, 0.8);
}
/* Block - Navigation, Settings */
.block_settings .footer input#adminsearchquery {
    max-width: 58%;
}
.row-fluid .span3 .block_settings .footer input#adminsearchquery,
.row-fluid .span4 .block_settings .footer input#adminsearchquery {
    max-width: 46%;
}

/* Forum */
.forumpost {
    background: #fff;
}
.forumpost .content .posting {
    overflow: hidden;
}

/* Courses View */
.coursebox,
.coursebox:hover {
    background: #fff !important;
}

/* Calendar */
.block .minicalendar td.today .eventcontent a {
    color: #14315C;
}
.path-calendar .maincalendar,
.path-calendar .maincalendar div.header {
    background: #fff;
}

/********************************
Topics Format
********************************/
.topics .current {
    border: 2px solid #59595b !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.course-content ul li.section.main {
    background: #efefef;
}

/********************************
Tiles Format
********************************/
.tileoutlinearea .tileoutlinecontent {
    background: none;
    position: relative;
    padding: 5px 35% 5px 20px;
}
.tileoutlinearea, .tileoutlinearea ul, .tileoutlinearea p, .tileoutlinearea h1, .tileoutlinearea h2, .tileoutlinearea h3 {
    color: #3b3b3b;
}
.tileoutlinetiles .tiletitle {
    background: rgba(201,81,9,0.8)
}
.tileoutlinetiles .currentsection a, .tileoutlinepage .current {
    border: 3px solid #59595b;
}
.tileoutlinetiles .tile a {
    color: #fff;
}
.tileoutlinetiles .tile a:hover .tiletitle {
    background-color: rgba(201,81,9,0.9);
    background-image: url([[pix:theme|course_arrowon]]);
    text-decoration: none;
}   

/* Topics view */
#page-course-view-tiles #region-main {
    padding: 5px;
}
.tilecontentarea {
    background: none;
}
.tiletopicnav ul li a {
    color: #c95109;
    border: 1px solid #c95109;
    background: #fff;
}
.tiletopicnav ul li a:hover, .tiletopicnav ul li a:active {
    background-color: #23527c; 
    color: #fff;
    border: 1px solid #23527c;
}
.tiletopicnav ul li a.current {
    background: #c95109;
    border: 1px solid #c95109;
}
.tiletopicnav .currentsection, .tiletopicnav .currentsection:hover {
    border: 3px solid #59595b;
}

/********************************
Docking
********************************/
body.has_dock div#dock {
    background: #fff;
    border-right: 1px solid #ddd;
}
#dock .dockedtitle {
    width: 45px;
    margin: 0 0 1px 0;
}
#dock .dockedtitle, #dock .dockedtitle:hover, #dock .dockedtitle:focus {
    background: #59595b !important;
    border: none !important;
}
#dock .dockedtitle h2 {

}
#dockeditempanel .dockeditempanel_hd {
    background: #ddd;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
    font-size: 0.9em;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}

/********************************
Footer
********************************/
#page-footer {
    background: #3b3b3b;
    border: none;
}
#page-footer, #page-footer p {
    color: #fff;
}
#page-footer a {
    color: #fff;
}
#page-footer .footer-text {
    float: left;
}
#page-footer .helplink {
    float: right;
}

/********************************
Custom Homepage
********************************/
#page-site-index #page-navbar-wrapper {
    display: none;
}
#page-site-index #region-main,
.path-my-totara-dashboard #region-main {
    padding: 0;
    background: none;
}
#custom-homepage-regions #region-hero-unit {
    background: #e2e2e0 url([[pix:theme|homepage-heroimage]]) no-repeat center right;
    min-height: 250px;
}
#custom-homepage-regions #region-hero-unit .content {
    padding: 0;
}
#custom-homepage-regions #region-hero-unit .content h1 {
    font-size: 250%;
    line-height: 1em;
    margin: 1em;
    color: #bc4401;
}
#custom-homepage-regions img {
    border-radius: 0;
}
#custom-homepage-regions .column .content a {
    padding: 0;
}
#custom-homepage-regions .column .content a:hover {
    text-decoration: none;
}
#custom-homepage-regions .column .content h1 {
    margin: 0.2em 0;
}
#custom-homepage-regions .column .content h1:hover {
    color: #23527c;
}
#custom-homepage-regions #region-hero-unit, #custom-homepage-regions #region-two-cols-wrap, #custom-homepage-regions #region-three-cols-wrap, #custom-homepage-regions #region-two-cols-wrap {
    margin-bottom: 1.5% !important;
}
#page-site-index #region-main,
#page-my-index #region-main {
    background: none;
    margin: 0;
}

/********************************
My Page
********************************/
#page-my-index #custom-homepage-regions {
    display: none;
}

/********************************
Custom Login Page
********************************/
body#page-login-index {
    background: #fff url([[pix:theme|bg_login]]) no-repeat top 90px right;
    background-size: cover;
}
#page-login-index #region-main {
    background: none;
}
#page-login-index .navbar-inner,
#page-login-index #page-navbar-wrapper {
    display: none;
}
#page-login-index #page {
    margin: 0 auto;
}
#page-login-index #page-content {
    background: transparent;
}
#page-login-index .loginpanel {
    width: 40%;
    margin-right: 5%;
}
#page-login-index #region-main {
    padding: 10%;
}
#page-login-index .loginbox {
    border: none;
    background: rgba(255, 255, 255, 0.9);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e5ffffff', endColorstr='#e5ffffff'); /* IE8 */
    padding: 2%;
    max-width: 70%;
    margin: 3% 3% 3% 2%;
}
.loginbox.twocolumns .loginpanel, .loginbox.twocolumns .signuppanel {
    width: 50%;
}
#page-login-index .loginbox h2 {
    font-size: 2em;
    padding: 0;
}
#page-login-index .loginbox h2, #page-login-index .loginbox .subcontent {
    text-align: left;
}
#page-login-index .loginbox .loginform .form-input { 
    width: 100%;
    float: none;
    text-align: center;
    padding-bottom: 10px;
}
#page-login-index .loginbox .loginform .form-input input {
    height: 3.5em;
    width: 100%;
    max-width: 600px;
    display: block;
}
#page-login-index #notice > p {
    color: #fff;
}
.loginbox .signupform {
    text-align: left;
}
#page-login-index input[type="text"] {
    background: white url([[pix:theme|username]]) right no-repeat;
}
#page-login-index input[type="password"] {
    background: white url([[pix:theme|password]]) right no-repeat;
}
#page-login-index .register {
    padding-top: 10px;
}
#page-login-index .loginbox.twocolumns .loginpanel {
    border: none;
}

/********************************
Responsive
********************************/
@media (max-width: 1024px) {
    #page-login-index #region-main {
        padding: 0 2%;
        margin: 0;
    }
    #page-login-index #page {
        padding: 0;
    }
    #page-login-index .loginbox {
        margin: 5% 4% 0 4%;
    }
}
@media (max-width: 767px) { 
    body#page-login-index {
        margin-bottom: 50px;
    }
    .logo, .logounit {
        display: block;
        text-align: center;
    }
    .logo {
        padding: 10px 0 0 0;
    }
    .logounit {
        padding: 0 0 15px 0;
    }
    header h1 {
        float: none;
    }
    .loginbox.twocolumns .loginpanel, .loginbox.twocolumns .signuppanel {
        width: 100%;
    }
    #page-login-index .loginbox {
        max-width: 100%;
        margin: 2%;
        padding: 4%;
    }
    #page-login-index .loginpanel {
        width: 100%;
    }
    #custom-homepage-regions #region-hero-unit .content h1 {
        background: #fff;
        margin: 10px;
        padding: 5px;
    }
    #page-footer {
        padding: 1em 15px;
    }
    #page-footer .footnote, #page-footer .footer-text {
        float: none;
    }
}
@media (max-width: 979px) {
    #page-login-index #region-main {
        padding: 0;
    }
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    #page-login-index #region-main {
        padding: 2%;
    }
}
/* Large screens ----------- */
@media only screen 
and (min-width: 1824px) {
    #page-login-index #region-main {
        
    }
}


/********************************
Print
********************************/
@media print {
    a {
        color: #037691 !important;
    }
    button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
        background: none !important;
        border: 3px solid #c95109 !important;
    }
    .tileoutlinecontent,
    .tiletitle {
        background: none !important;
    }
    .tileoutlinearea {
        background-size: cover !important;
    }
}
    

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]